@import "tailwindcss";
@font-face {
	font-family: "Teko-Light";
	src: url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Light.woff2") format("woff2"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Light.woff") format("woff"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Teko-Regular";
	src: url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Regular.woff2") format("woff2"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Regular.woff") format("woff"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Teko-Medium";
	src: url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Medium.woff2") format("woff2"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Medium.woff") format("woff"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Teko-SemiBold";
	src: url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-SemiBold.woff2") format("woff2"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-SemiBold.woff") format("woff"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Teko-Bold";
	src: url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Bold.woff2") format("woff2"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Bold.woff") format("woff"),
		url("/fonts/Teko_Complete/Fonts/WEB/fonts/Teko-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--color-text: #212a31;
	--color-background: #d3d9d4;
	--color-primary: #124e66;
	--color-secondary: #2e3944;
	--color-accent: #748d92;
	--color-dark-text: #d3d9d4;
	--color-dark-background: #212a31;

	--font-teko-light: "Teko-Light", sans-serif;
	--font-teko-regular: "Teko-Regular", sans-serif;
	--font-teko-medium: "Teko-Medium", sans-serif;
	--font-teko-semibold: "Teko-SemiBold", sans-serif;
	--font-teko-bold: "Teko-Bold", sans-serif;
	--font-rajdhani: "Rajdhani", sans-serif;
}
body,
html {
	@apply text-text bg-background dark:text-dark-text dark:bg-dark-background font-teko-regular scroll-smooth;
}
@layer utilities {
	.text-stroke {
		-webkit-text-stroke: 1px #000;
	}

	.text-stroke-white {
		-webkit-text-stroke: 1px #fff;
	}

	.text-stroke-2 {
		-webkit-text-stroke: 2px #fff;
	}
}

@layer components {
	.under-line {
		@apply relative;
	}
	.under-line:hover::before {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 0.25rem;
		background-color: var(--color-accent);
	}
}
