@import "tailwindcss";

@theme {
	/* Base Colors */
	--color-bg: #fff; /* bg background */
	--color-fg: #201f24; /* bg text color (foreground) */
	--color-muted: #696868; /* Muted text or surface labels */
	--color-muted-alt: #b3b3b3; /* Even lighter muted text */
	--color-surface: #f2f2f2; /* Card/section background */
	--color-border: #98908b; /* Divider lines, borders */
	--color-surface-alt: #f8f4f0; /* Slightly lighter surface for nesting */
	--color-accent: #277c78; /* Accent (buttons, highlights) */
	--color-danger: #ce5a4a; /* For errors, warnings */

	/* Spacing */
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-250: 20px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
	/* Typography */
	/* Font-size */
	--text-1: 32px;
	--text-2: 20px;
	--text-3: 16px;
	--text-4: 14px;
	--text-5: 12px;
	/* Line-Height */
	--leading-120: 120%;
	--leading-150: 150%;
	/* Border-Radius */
	--radius-8: 8px;
	--radius-12: 12px;
	--radius-16: 16px;
}
.dark {
	/* Dark Mode Colors */
	--color-bg: #201f24;
	--color-fg: #dcdbe0;
	--color-muted: #b3b3b3;
	--color-muted-alt: #696868;
	--color-surface: #2b2a30;
	--color-surface-alt: #37363c;
	--color-border: #3f3d44;
	--color-accent: #277c78;
	--color-danger: #ce5a4a;
	/* surface Colors */
	/* --color-surface-yellow: #693a10;
	--color-surface-cyan: #95d1dd;
	--color-surface-navy: #626070;
	--color-danger: #ce5a4a;
	--color-surface-purple: #907db9;
	--color-accent: #2d8f8a; */
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	html.sans {
		font-family: "Public Sans", sans-serif;
	}

	html.serif {
		font-family: "Merriweather", serif;
	}

	html.mono {
		font-family: "Fira Code", monospace;
	}
	html,
	body {
		font-size: 16px;
		@apply bg-surface  text-fg;
	}
	.layout {
		@apply flex flex-col items-center justify-center w-full gap-8 px-4 py-6 md:py-8 md:px-10 lg:justify-start;
	}
	hr {
		@apply border-muted opacity-20;
	}
	.overview-content {
		@apply flex flex-col w-full gap-8 px-5 py-6 rounded-12 bg-bg md:p-8;
	}
	.recurring-card {
		@apply flex items-center justify-between w-full px-4 py-5 rounded-8 border-l-4 bg-surface text-4 text-muted leading-150;
	}
	/* Flexbox Utilities */

	.flex-between {
		@apply flex items-center justify-between w-full;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-center-full {
		@apply flex items-center w-full;
	}
	.flex-column {
		@apply flex flex-col w-full;
	}
	.flex-column-center {
		@apply flex flex-col items-center justify-center;
	}
	.text-h1 {
		@apply text-1 font-bold leading-120;
	}
	.text-h2 {
		@apply text-2 leading-120 font-bold;
	}
	.text-h2-h1 {
		@apply text-2 leading-120 font-bold md:text-1;
	}
	.text-h3 {
		@apply text-3 leading-150 font-bold;
	}
	.text-p4 {
		@apply text-4 leading-150 font-normal;
	}
	.text-p4-bold {
		@apply text-4 font-bold leading-150;
	}
	.text-p5 {
		@apply text-5 leading-150 font-normal;
	}
	.text-p5-bold {
		@apply text-5 font-bold leading-150;
	}
}

@layer components {
	/* Buttons */
	.btn {
		@apply inline-flex items-center p-4 justify-center font-semibold rounded-8 transition-all duration-300 cursor-pointer;
	}
	.btn-primary {
		@apply bg-fg text-bg hover:bg-muted transition-colors duration-300;
	}
	.btn-secondary {
		@apply bg-surface text-fg border border-transparent hover:border-muted;
	}
	.btn.btn-tertiary {
		@apply text-muted hover:text-fg text-4 font-normal leading-150;
	}
	.btn-destroy {
		@apply bg-danger text-white hover:bg-danger/80;
	}
	.input-state {
		@apply flex flex-col items-center justify-start gap-4 px-5 py-3 rounded-8 border border-surface bg-bg placeholder:text-surface text-fg hover:border-muted has-focus:border-muted transition-all duration-300;
	}
	.error-message {
		@apply text-5  text-red-500/80 font-bold leading-150 flex items-center gap-1;
	}
	/* Overview */
	.balance-card {
		@apply rounded-12 w-full p-5 flex flex-col gap-3 md:p-6 text-muted bg-bg;
	}

	/* Modals */
	.modal-overlay {
		@apply fixed inset-0 bg-fg/50 dark:bg-bg/80 flex items-center backdrop-blur-[1px] justify-center;
	}

	.modal-content {
		@apply flex flex-col items-center border border-fg/50 justify-start bg-bg px-5 py-6 rounded-12 gap-5;
	}
	.input-container {
		@apply px-5 text-4 leading-150 py-3 rounded-8 bg-bg border border-muted-alt has-focus-within:border-fg  flex items-center gap-3;
	}

	/* Settings */
	.settings-option {
		@apply flex items-center justify-between gap-3 text-fg transition-all duration-200 px-3 hover:bg-accent/40 py-2 rounded-8 cursor-pointer;
	}
}
::-webkit-progress-bar {
	background-color: #f8f4f0;
}
