/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-dark-coffee: #1a100e;
	--color-secondary: #f1efee;
	--color-coffee-brown: #6f4e37;
	--color-coffe-light: #a67b5b;
	--font-roboto: "Roboto", sans-serif;
}
body,
html {
	@apply bg-dark-coffee text-secondary font-roboto tracking-wide;
}
@layer components {
	.hero-layout {
		@apply flex px-4 md:px-12 xl:px-20 py-28 md:py-28 xl:py-32;
	}
	.hero-img {
		@apply relative;
	}
	.hero-img::before {
		content: "";
		@apply absolute inset-0 bg-[url('/images/roasted-coffee.png')] bg-contain bg-no-repeat bg-center opacity-30;
		z-index: 0;
		pointer-events: none;
	}
	.hero-img > * {
		@apply relative z-10;
	}
	.hero-name-input {
		@apply outline-none p-2 bg-gradient-to-r font-semibold
        from-coffe-light/50 to-coffee-brown/50 shadow-[3px_3px_0px] shadow-white/20 rounded-[10px];
	}
	.nav-link {
		@apply relative hover:text-coffe-light cursor-pointer hover:font-semibold transition-all duration-500 ease-in-out;
	}
	.underline {
		@apply absolute bottom-0 left-0 w-full h-[2px] bg-coffe-light scale-x-0 origin-left transition-transform duration-600 ease-in-out group-hover:scale-x-100;
	}
	.nav-button {
		@apply px-4 py-2 rounded-[10px] bg-coffee-brown text-xs md:text-sm text-secondary font-semibold cursor-pointer flex items-center gap-3;
	}
	.btn-overlay {
		@apply absolute
        w-full inset-0 bg-gradient-to-l from-coffee-brown to-coffe-light scale-x-0 rounded-[10px] opacity-0 transition-all duration-500 ease-in-out group-hover:opacity-100 group-hover:scale-x-100 z-10 origin-right;
	}
	.bounce {
		@apply transition-all duration-1000 ease-linear group-hover:animate-bounce;
	}

	/* About ME */
	.aboutme-layout {
		@apply px-4 md:px-12 xl:px-26 mt-70 md:mt-80 lg:mt-6 pb-10;
	}
	.accent {
		@apply text-coffe-light font-semibold;
	}
	.projects-layout {
		@apply px-4 md:px-12 xl:px-26 my-8;
	}
}

html {
	scroll-behavior: smooth;
	scrollbar-color: #a67b5b #6f4e37;
}
