@import "tailwindcss";

@theme {
  --color-neutral-900: #21214d;
  --color-neutral-600: #57577b;
  --color-neutral-300: #9393b7;
  --color-neutral-200: #cbcdd0;
  --color-neutral-0: #ffffff;
  --color-blue-700: #2a4cd5;
  --color-blue-600: #4865db;
  --color-blue-200: #c7d3f7;
  --color-neutral-100: #e0e6fa;
  --color-red-700: #e60013;
  --color-red-300: #ff9b99;
  --color-indigo-200: #b8b2ff;
  --color-blue-300: #89caff;
  --color-green-300: #89e780;
  --color-amber-300: #ffc97c;
  --font-reddit-sans: "Reddit Sans", Arial, Helvetica, sans-serif;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-130: 130%;
  --tracking-2: -2px;
  --tracking-03: -0.3px;
  --radiuss-10: 10px;
}
body {
  @apply font-reddit-sans;
}
@utility light-gradient {
  @apply bg-gradient-to-b from-[#f5f5ff] from-[73%] to-[#e0e0ff];
}
@utility text-preset-1 {
  @apply text-[52px] leading-140 tracking-2 font-bold;
}
@utility text-preset-1-mobile {
  @apply text-[46px] leading-120 tracking-2 font-bold;
}
@utility text-preset-2 {
  @apply text-[40px] leading-120 tracking-03 font-bold;
}
@utility text-preset-2-mobile {
  @apply text-[32px] leading-120 tracking-03 font-bold;
}
@utility text-preset-3 {
  @apply text-[32px] leading-140 tracking-03 font-bold;
}
@utility text-preset-3-mobile {
  @apply text-[28px] leading-130 tracking-03 font-bold;
}

@utility text-preset-4 {
  @apply text-[24px] leading-140  font-semibold;
}
@utility text-preset-4-regular {
  @apply text-[24px] leading-140 font-normal;
}
@utility text-preset-5 {
  @apply text-[20px] leading-140 font-bold;
}
@utility text-preset-6 {
  @apply text-lg leading-120 font-medium;
}
@utility text-preset-6-italic {
  @apply text-lg leading-130 italic font-medium;
}

@utility text-preset-6-regular {
  @apply text-lg leading-120 font-normal tracking-03;
}

@utility text-preset-7 {
  @apply text-[15px] leading-140 tracking-03;
}
@utility text-preset-8 {
  @apply text-[13px] font-semibold;
}
@utility text-preset-9 {
  @apply text-xs leading-110;
}

html {
  @apply light-gradient  text-neutral-900;
}

@layer components {
  .arrow-right {
    @apply absolute left-[99%] z-50;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 15px solid white;
    margin: 0 auto;
    bottom: calc(var(--sleepHeight) - 30px);
  }
  .arrow-left {
    @apply absolute right-[99%] z-50;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 15px solid white;
    margin: 0 auto;
    bottom: calc(var(--sleepHeight) - 30px);
  }
}
